// --------------------------------

// (START) Global Editor code https://codyhouse.co/ds/globals/forms

// --------------------------------

:root {
  --form-control-font-size: 1em;
  --form-control-padding-x: var(--space-sm);
  --form-control-padding-y: var(--space-xs);
  --form-control-radius: 0em;
}

.form-control {
  background-color: var(--color-contrast-lower);
  border-bottom: 2px solid var(--color-contrast-low);
  transition: all 0.3s ease;

  &::placeholder {
    opacity: 1;  
    color: var(--color-contrast-medium);
  }

  &:focus {
    background-color: var(--color-bg);
    border-color: var(--color-primary);
    outline: none;
  }
}

.form-control[disabled], .form-control[readonly] {
  cursor: not-allowed;
}

.form-control[aria-invalid="true"] {
  border-color: var(--color-error);
}

.form-legend {}

.form-label {
  font-size: var(--text-sm);
}

// --------------------------------

// (END) Global Editor Code

// --------------------------------